
.videoshower{
  border: 0.1rem solid rgb(5, 35, 38);
  border-bottom: 0.8rem solid rgb(0, 0, 0);;
  width:25.83rem;
  height:19.5rem;
  z-index: 5;
  position: relative;
}

.controls .stand{
  border-bottom: 38px solid #090808;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
	height:0;
	width: 125px;
  transform: translate(7.67rem,21rem);
  border-radius: 0.09rem;
  box-shadow: 0.2px 0.5px 0.8px 1px #000000;
}

.controls .pop{
  position: absolute;
  border:1px solid rgb(11, 11, 11);
  transform: translate(11rem,-1rem);
  height: 1.6rem;
  width: 4rem;
  background-color: #44434356;
  cursor: pointer;
  border-radius: 0rem;
  animation: fadeInOut 5s infinite;
  transition: color 0.3s ease, transform 5s ease;
}

@keyframes fadeInOut {
 
  10% {
      opacity: 1;
      transform: translate(11rem,-10px);
  }
  100% {
      opacity: 1;
      transform: translate(11rem,2px);
  }
}

.controls .pop:hover{
  background-color: rgba(0, 255, 0, 0.33);
  border-radius: 4px;
  animation:none;
}

.controls .cover{
  position:absolute;
  width:25.55rem;
  height:4.28rem;
  background-color: rgb(0, 0, 0);
  z-index: 10;
  transform: translate(3.5px,3.494px);
}

.controls .nav{
  position:absolute;
  width:25.55rem;
  height:4.28rem;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.841);
  backdrop-filter: blur(50px);
  transform: translate(3.5px,3.494px);
  display: none;
  align-items: center;
  justify-content: center;
}

.controls .nav button{
  position:relative;
  background-color:white;
  transform: translate(10.3rem,0.8rem);
  height: 1.2rem;
  width: 5rem;
  border-radius:3rem;
  border: 2px solid rgb(9, 255, 0);
}

.controls .nav button i{
  margin-top: -3.8px;
}

.controls .nav button:hover{
  scale: 1.001;
  transform: translate(10.3rem,0.8rem);
  box-shadow: 0.7px 0px 3px  rgb(9, 255, 0);
}
